<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
<key>article-id</key>
<integer>233520</integer>
<key>parent-id</key>
<integer>0</integer>
<key>template-id</key>
<integer>1092</integer>
<key>template-continue</key>
<string></string>
<key>story</key>
<string><![CDATA[<p align="left">Ireland will also restructure its banking system, which will involve disposals of parts of its hobbled lenders, making them "significantly smaller so they can stand on their own two feet," Mr Cowen said.</p>

The idea is that this will give the country breathing room to bring its finances and banking system into a stable state, but there is no guarantee that this can be achieved. The country has already run up a budget deficit of 32 per cent of gross domestic product to try to stabilise its banks.

Yesterday's special Cabinet finalised a four-year plan to pare back spending that will involve at least €15 billion of cuts and tax increases - about 10 per cent of annual economic output. This will be announced tomorrow, while Mr Cowen said the rescue agreement would be finalised within weeks.

The move follows weeks of denials by Irish ministers, who insisted they had no need of financial aid. But Brian Lenihan, the Finance Minister, said yesterday that Ireland's debt-saddled banks were too big a problem for the country to tackle alone. In recent months Irish banks have become increasingly reliant on the ECB to stay afloat after billions of pounds of property loans went sour. The banks had some €130 billion in loans from the ECB outstanding at the end of last month, accounting for about a quarter of the liquidity provided by the ECB.

Some senior European officials believe that creditors to Ireland or its banks will still ultimately have to accept reductions to the value of their loans, in what would amount to a default by the country.]]></string>
<key>description</key>
<string><![CDATA[British contribution expected to reach €7bn]]></string>
<key>escenic-id</key>
<integer>2816402</integer>
<key>escenic-url</key>
<string>http://www.thetimes.co.uk/tto/feeds/Mobile_Feeds/newsipadfeeds/article2816402.ece</string>
<key>byline</key>
<string><![CDATA[Sam Fleming, David Charter, Laura Dixon]]></string>
<key>subheadline</key>
<string><![CDATA[]]></string>
<key>pubdate</key>
<date>2010-11-22T00:01:00Z</date>
<key>title</key>
<string><![CDATA[BULLET POINTS 2 TEST Humiliated Irish forced into €85bn bailout loan (1)]]></string>
<key>updated</key>
<date>0000-00-00T00:00:00Z</date>
<key>skyline-in</key>
<false />
<key>leveling-columns</key>
<false />
<key>skyline-template-id</key>
<integer>1</integer>
<key>home-team</key>
<string></string>
<key>home-score</key>
<string></string>
<key>away-team</key>
<string></string>
<key>away-score</key>
<string></string>
<key>frontpage-headline</key>
<string><![CDATA[BULLET POINTS 2 TEST Humiliated Irish forced into €85bn bailout loan (1)]]></string>
<key>frontpage-body</key>
<string><![CDATA[Ireland will also restructure its banking system, which will involve disposals of parts of its hobbled lenders, making them "significantly smaller so they can stand on their own two feet," Mr Cowen]]></string>
<key>section-front-headline</key>
<string><![CDATA[BULLET POINTS 2 TEST Humiliated Irish forced into €85bn bailout loan (1)]]></string>
<key>section-front-body</key>
<string><![CDATA[Ireland will also restructure its banking system, which will involve disposals of parts of its hobbled lenders, making them "significantly smaller so they can stand on their own two feet," Mr Cowen said.

The idea is that this will give the country breathing room to bring its finances and banking system into a stable state, but there is no guarantee that this can be achieved. The country has already run up a budget deficit of 32 per cent of gross domestic product to try to stabilise its banks.

Yesterday's special Cabinet finalised a four-year plan to pare back spending that will involve at least €15 billion of cuts and tax increases - about 10 per cent of annual economic output. This will be announced tomorrow, while Mr Cowen said the rescue agreement would be finalised within weeks.

The move follows weeks of denials by Irish ministers, who insisted they had no need of financial aid. But Brian Lenihan, the Finance Minister, said yesterday that Ireland's debt-saddled banks were too big a problem for the country to tackle alone. In recent months Irish banks have become increasingly reliant on the ECB to stay afloat after billions of pounds of property loans went sour. The banks had some €130 billion in loans from the ECB outstanding at the end of last month, accounting for about a quarter of the liquidity provided by the ECB.

Some senior European officials believe that creditors to Ireland or its banks will still ultimately have to accept reductions to the value of their loans, in what would amount to a default by the country.]]></string>
<key>section-front-standfirst</key>
<string><![CDATA[British contribution expected to reach €7bn]]></string>
<key>opinion-headline</key>
<string><![CDATA[BULLET POINTS 2 TEST Humiliated Irish forced into €85bn bailout loan (1)]]></string>
<key>opinion-standfirst</key>
<string><![CDATA[British contribution expected to reach €7bn]]></string>
<key>article-authors</key>
<array>
<dict>
<key>author-name</key>
<string><![CDATA[Sam Fleming]]></string>
<key>author-biography</key>
<string><![CDATA[]]></string>
<key>author-name</key>
<string><![CDATA[David Charter]]></string>
<key>author-biography</key>
<string><![CDATA[]]></string>
<key>author-name</key>
<string><![CDATA[Laura Dixon]]></string>
<key>author-biography</key>
<string><![CDATA[]]></string>
</dict>
</array>
<key>article-data</key>
<array />
<key>article-images</key>
<array>
<dict>
<key>filename</key>
<string>article_947_13516_233520_0.jpg</string>
<key>type</key>
<string>landscape</string>
<key>width</key>
<integer>780</integer>
<key>height</key>
<integer>520</integer>
<key>caption</key>
<string><![CDATA[Taoiseach Brian Cowen at the National Convention Centre where he addressed delegates at the IBM Smartcamp Global Finals. PRESS ASSOCIATION Photo. Picture date: Cowen today rubbished accusations that the Government had surrendered Irelands sovereignty. See PA story IRISH Bailout. Photo credit should read: Julien Behal/PA]]></string>
<key>credit</key>
<string><![CDATA[Julien Behal/PA]]></string>
</dict>
<dict>
<key>filename</key>
<string>article_947_13516_233520_1.jpg</string>
<key>type</key>
<string>landscape</string>
<key>width</key>
<integer>780</integer>
<key>height</key>
<integer>520</integer>
<key>caption</key>
<string><![CDATA[epa02418507 Taoiseach (Prime Minister) of Ireland Brian Cowen pictured during a press conference at the European summit of heads of states, on the second of the two-day summit, 29 October 2010, in Brussels. European Union leaders reached a deal early 29 October on stronger budget discipline rules and a permanent eurozone rescue fund, underpinned by a change in EU treaties. The agreement represents a political coup for Germany, which, along with France, managed to call for a treaty change despite opposition from practically all other EU member states. EPA/JULIEN WARNAND BELGIUM OUT]]></string>
<key>credit</key>
<string><![CDATA[Julien Warnand/EPA]]></string>
</dict>
<dict>
<key>filename</key>
<string>article_947_13516_233520_2.jpg</string>
<key>type</key>
<string>landscape</string>
<key>width</key>
<integer>780</integer>
<key>height</key>
<integer>520</integer>
<key>caption</key>
<string><![CDATA[Ireland's Prime Minister Brian Cowen arrives at an EU leaders summit in Brussels September 16, 2010. The leaders of the 27-country bloc are meeting to discuss relations with big trade and political partners such as China and the United States to start drawing up a strategy to enhance the EU's standing on the world stage.]]></string>
<key>credit</key>
<string><![CDATA[Thierry Roge/Reuters]]></string>
</dict>
</array>
<key>article-videos</key>
<array />
<key>article-infos</key>
<array />
<key>bot-id</key>
<integer>0</integer>
<key>bot-order</key>
<integer>0</integer>
<key>bot-template-id</key>
<integer>0</integer>
</dict>
</plist>
